/* Smooth Scrolling when clicking nvigation links */
html{
    scroll-behavior: smooth;
}

/* Navigation bar adjustment to have Orange coloured text */
.nav-link {
    color: orange!important;
}
.nav-link:hover{
    font-weight: bolder;
    color: peru!important;
}
.fa-bars{
    color: orange;
}


/* Upper Page (Landing Page at Home Page ) */
.upper_page{
position: relative;
height: 95vh;
}
video {
    object-fit: cover;
    min-height: 95vh;
    width: 100%;
}
.upper_page>h1,.upper_page>h2,.upper_page>a{
    position: absolute;
    z-index: 2;
}
.myname{
    top: 20%;
    width: 100%;
    color:rgb(255, 166, 0);
}
.mytitle{
    top: 35%;
    width: 100%;
    color:rgb(225, 252, 105);
}
#details{
    top: 65%;
    left: 60%;
    color:rgb(225, 252, 105);
}
/* Bottom Page in index.html and main page area for other pages */
.bottom_page{
    background-image: url(../images/background.jpg);
    background-repeat: repeat;
    background-size: cover;
    min-height: calc(110vh + 20px);
    padding-top:5%;
}

.card{
    opacity: .9;
    background-color: rgb(156, 155, 155);
    color:rgb(2, 4, 73);
    margin-bottom: 20px;
    position: relative;
  }
  .tony_photo{
    width: 100%;
     border-radius: 350px;
 }
  ul{
      list-style: none;
      padding:0;
  
  }
  /* Home Page Specific */
  .skills>li{
      display: inline-block;
      padding-right: 20px;
      font-size: 36pt;
  }
  /* Colouring Font awesome icons */
  .fa-html5{
      color: orangered;
  }
  .fa-js{
  color: orange;
  }
  .fa-css3-alt{
      color:blue;
  }
  .fa-bootstrap{
      color: purple;
  }
  /* Bring the internal navigation button to the right */
  #to_top{
      position: absolute;
      right: 20px;
  }

/* Portfolio Projects */
.project{
    margin-top: 20px;
    position: relative;
}
.project .card-body{
display: none;
background-color: rgb(196, 220, 247);
z-index: 2;
position: absolute;
top: 1;
height:100%;
width: 100%;
}
.project .card-title{
    text-align: center;
    color: rgb(41, 7, 122);
}
strong{
    color: rgb(211, 22, 22);
    text-decoration-line: underline;
}
.view_code{
    position: absolute;
    right: 15px;
    bottom: 20px;
}
.visit_site{
    position: absolute;
    bottom: 20px;
}
.project:hover > .card-body{
    display: block;
   animation-name: fader;
   animation-duration: 1s;
   animation-fill-mode: forwards;
   animation-iteration-count: initial;
   animation-timing-function: ease-in-out;

}
.card-body:hover > .card-text{
   animation-name: descender;
   animation-duration: 2s;

}


/* Contact Me Page Specific */
.social a{
    color: rgb(2, 4, 73);
}
.contactme{
    font-family: 'Dancing Script', cursive;
    font-size: 40pt;
    color: white;
}
.social a:hover{
    font-weight: 700;
    text-decoration: none;
}
.social i{
    font-size: 16pt;
}
/* Colouring the fonts awesome icons */
.fa-linkedin{
    color: rgb(0, 119, 181);
}
.fa-youtube{
    color: red;
}
.fa-github{
    color: black;
}
.fa-envelope{
    color: white;
}

/* Footer */
footer{
    background-color: rgb(52, 58, 64);   
    color: orange;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    position: fixed;
    bottom: 0;
}
footer p{
    margin-bottom: 5px;
}



/* Media Query to make the background fill few pixels below last element on page in smaller screens */
@media only screen and (max-width: 400px) {
   
    .bottom_page{
        min-height:170vh;
    }

  }

  /* Animations */
@keyframes grower{
    0%{font-size: 10pt;}
    100%{font-size: 18pt;}
}

@keyframes decscender{
    0%{bottom:-20px;}
    100%{bottom:20px;}

}
@keyframes fader{
from{top:100px;}
to{top:0;}
}