$lighy-black:#353A3E;
.footer{
    width:100%;
    // height: 15vh;
    background-color: $lighy-black;
    color: orange;
    font-size: 1.1rem;
    ul{
        list-style: none;
    }
    .icons{
     font-size: 3rem;   
    }
   
    p{
        margin: 0 2rem;
       
    }
     a{
           text-decoration: none;
           color:orange; 
           margin: 10px 10px;
        }
 
   a:hover{
            color:rgb(150, 164, 243);
        }
    
}