.home__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.home__main .my__name {
  margin: 0;
  padding: 0;
  color: orange;
  font-size: 4rem;
  font-family: "Permanent Marker", cursive;
}
.home__main .my__photo {
  border-radius: 15rem;
  height: 20rem;
  display: block;
  margin: 0;
}
.home__main .main__content__container {
  height: 66vh;
  overflow-y: scroll;
}