.footer {
  width: 100%;
  background-color: #353A3E;
  color: #f5f2e0;
  font-size: 1rem;
}
.footer ul {
  list-style: none;
}
.footer .icons {
  font-size: 1.7rem;
}
.footer .icons:hover {
  color: #e4be17;
}
.footer .links:hover a {
  color: #e4be17;
}
.footer .links:hover .icons {
  color: #e4be17;
}
.footer p {
  margin: 0 2rem;
}
.footer p:hover {
  color: #e4be17;
}

a {
  text-decoration: none;
  color: #f5f2e0;
  margin: 10px 10px;
}
a:hover {
  color: #e4be17;
}