
@import './variables.scss';

.header{
      background-color: $light-black;
    .burger__menu{
          color: $light_orange;
          display: none;
          margin: 0;
          padding: 0;
    }
    .navbar{
        position: absolute;
        width: 100%;
        top:0;
        z-index: 2;
        background-color: $light-black;
        justify-content: center;
        li{
            list-style: none;
        
        .react__link{
            text-decoration: none;
            color: $light_orange;
            font-size: 1.5rem;
            font-weight: 700;
            margin:0 1rem;
        }
        .active{
             color:$shiny_orange;
        }
        .react__link:hover{
            color:$pale_orange;
        }
    }
}
   
}
 @media only screen and (max-width:600px) {
    .navbar{
            flex-direction: column;
            align-items: flex-start; 
            top: 4rem !important;;
        }
    .burger__menu{
         color: white;
         font-size: 3rem;
         display: block!important;
     
        }

    }
