.header {
  background-color: #353A3E;
}
.header .burger__menu {
  color: #f5f2e0;
  display: none;
  margin: 0;
  padding: 0;
}
.header .navbar {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 2;
  background-color: #353A3E;
  justify-content: center;
}
.header .navbar li {
  list-style: none;
}
.header .navbar li .react__link {
  text-decoration: none;
  color: #f5f2e0;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 1rem;
}
.header .navbar li .active {
  color: #e4be17;
}
.header .navbar li .react__link:hover {
  color: #bb9c47;
}

@media only screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    top: 4rem !important;
  }

  .burger__menu {
    color: white;
    font-size: 3rem;
    display: block !important;
  }
}