.close-display{
    text-align: right;
    cursor:pointer;
    padding: 0;
    margin: 0;
}
.project__card__main{
    img{
        display: block;
        width:100%;

    }
}
.tech__item{
    background-color: rgb(252, 83, 83);
    color: white;
    font-weight: 500;
    padding:0 5px;
    border-radius: 10px;
}